@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "ALTTPR Ladder - Error";
}

<div class="row" style="margin-top: 40px; text-align: center;">
    <h3>
        THE SITE HAS ENCOUNTERED A GENERAL ERROR AND HAS BEEN LOGGED<br /><br />
        IF THIS PROBLEM CONTINUES, PLEASE CONTACT THE ADMINS
    </h3>
</div>
